apiVersion: v1
kind: Namespace
metadata:
  name: kconfig-deployer
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: kconfig-deployer-service-acc
  namespace: kconfig-deployer
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kconfig-deployer-cluster-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: kconfig-deployer-cluster-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kconfig-deployer-cluster-role
subjects:
- kind: ServiceAccount
  name: kconfig-deployer-service-acc
  namespace: kconfig-deployer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: custom-controller
  namespace: kconfig-deployer
  labels:
    app: custom-controller
spec:
  replicas: 1
  selector:
    matchLabels:
      app: custom-controller
  template:
    metadata:
      labels:
        app: custom-controller
    spec:
      containers:
      - image: vivekhiwarkar/kconfig-deployer:0.1.0
        name: kconfig-deployer-image
      serviceAccountName: kconfig-deployer-service-acc